doctype html
html
  head
    title Fako UI
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
  body
    nav(class='navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0')
      a(class="navbar-brand col-sm-3 col-md-2 mr-0" href="#") Home
      input(class='form-control form-control-dark w-100' type='text' placeholder='Search' aria-lable='Search')
    div(class='container-fluid')
      div(class='row')
        nav(class='col-md-2 d-none d-md-block bg-light sidebar') 
          div(class='sidebar-sticky')
            h6(class='sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted')
              span Projects
            ul(class='nav flex-column mb-2')
        main(class='col-md-9 ml-sm-auto col-lg-10 pt-3 px-4') This text will be shown on right
